node_modules/
dist/
build/
.DS_Store
*.log
*.env
.env.local
.env.*.local

.vite/
.cache/
.svelte-kit/

firebase-debug.log
firebase-debug*.log
ui-debug.log

.netlify/
.netlify.toml

backup.zip
dataconnect/

.turbo/
.vercel/

*.tsbuildinfo